<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
            [(ngModel)]="sort"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="released">Released</mat-option>
            <mat-option value="added">Added</mat-option>
            <mat-option value="created">Created</mat-option>
            <mat-option value="updated">Updated</mat-option>
            <mat-option value="rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img
                src="https://th.bing.com/th/id/R.7de1e41cc10d4da5b62dc9123f3da917?rik=OIcemVoif5f5nw&riu=http%3a%2f%2fassets.pokemon.com%2fassets%2fcms2%2fimg%2fvideo-games%2fvideo-games%2fpokken_tournament%2fpokemon-f-boxart.jpg&ehk=wbDSLTuWdBSXVpjF4psk6aP8BuR%2fx8V7DsKHPNaeGSM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
                alt="thumbnail"
                class="game-thumbnail"
            />
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img
                    class="game-platform"
                    src="https://cdn-icons-png.flaticon.com/512/732/732260.png"
                    alt="slug"
                />
            </div>
        </div>
    </div>
</div>